@charset "utf-8";
/* CSS Document */

.dewrapper .head2{ font-size:24px; color:#562d82; padding:0 0 5px;}
.dewrapper .head2 span{ font-size:18px; color:#231d14;}
.dewrapper p.inline span{ color:#562d82; margin-left:15px;}
.book{ text-align:right; margin:-35px 0 10px;}
.book .price{ text-align:left;}
.book .btn-purp{ font-size:16px; margin:-8px 0 0 15px;}
.col-md-8 .panel{ padding:15px;}
.panel{ padding:10px; position:relative;}
.overflows{ padding:0;}
.col-md-8 .overflows{ padding:0;}
.row {margin-right: -10px;margin-left: -10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{ padding-left:10px; padding-right:10px;}
@media (min-width: 1200px){
.left-clear {padding-left: 0;}
}
@media (min-width: 980px){
.left-clear {padding-left: 0;}
.intro_hp{width:240px;}
}
.slides{ float:left; display:inline-block; width:416px; height:278px; position:relative; background:#000;}
.intro_hp{ +width:230px; float:left; margin:0 10px;}
.intro_hp h3{ font-size:14px; color:#562d82; margin:10px 0;}
.intro_hp p{ font-size:12px; text-indent:2em; margin-bottom:0; line-height:22px;}
.intro_hp span,.intro_hp span a{ float:right; color:#562d82;}
.scores{ display:inline-block;}
.scores span{ color:#e11c2b; font-size:24px;}
.thumbup{ background:url(../images/travel/thumbup.jpg) no-repeat top left; height:25px; line-height:25px; text-indent:28px; position:absolute; right:10px; top:4px;}
.rate ul li{ height:29px; line-height:29px; padding:0 10px 0 15px;}
.rate ul li span{ text-align:center; width:68px; display:inline-block; float:right;}
.rate ul li.purp{ background:#e6e6e6; color:#562d82;}
.score{ margin:14px 0 5px 10px; position:relative;}

.comments{ height:70px; padding:10px 10px 0 15px;}
.comments div span{ color:#562d82; margin-right:4px;}

.tabs_travel ul li{ background:url(../images/travel/btns.jpg) no-repeat -82px 0; width:82px; height:32px; text-align:center; float:left; font-size:14px; line-height:34px;}
.tabs_travel ul li.active,.tabs_travel ul li:hover{ background-position:0 0; color:#562d82;}

.bookmsg{ padding:10px 15px; background:#f0f0f0;}
.bookmsg label{ margin:0;}
.bookmsg input{ height:26px; width:95px; text-indent:5px; margin-right:15px;}

.bookmsg a{ color:#562d82; text-decoration:underline; margin-left:15px;}
.roommsg{ display:block; margin:15px 20px ; float:left; height:69px;}
.roommsg .btn-purp{ margin:12px 0 0; line-height:36px; font-size:16px;}
.roommsg p{ margin:0; line-height:22px;}
.gray p{color:#767676;}
.roommsg p.bold{ font-weight:bold; margin-top:5px;}
.roommsg span.purp,.roommsg p.purp{ color:#562d82;}
.roommsg span{ margin-right:5px;}
p span.red{ color:#F00;}
.roomicon{ background:url(../images/travel/room.jpg) no-repeat center center; width:17px; height:17px; display:block; float:left; margin-right:2px;}

.roommsg .price_c{ margin:0;}
span.through{ text-decoration:line-through;}
.cutline{ border-bottom:1px solid #ededed; display:block; overflow:hidden;}
.green{ color:#00a500; font-weight:bold; margin:0 5px;}
.moreicon{ margin:5px 20px;}
.moreicon i{ background:url(../images/travel/+.jpg) no-repeat; width:14px; height:14px; float:left; margin-right:4px;}
.features{ margin:10px 0;}
.features li{ border-bottom:1px solid #dddddd; padding:5px;}
.features li>span{ width:110px; float:left; text-align:left; min-height:20px;}
.features li>div{ display:inline;}
.features li>div>span{ margin-right:15px; display:inline-block;}
.features li:last-child{ border-bottom:none;}
.trasport strong{ font-weight:bold;}
.trasport p{ line-height:20px; margin-bottom:5px;}
.comment{ overflow:hidden; border-bottom:1px solid #dcdcdc; padding:10px 0 5px;}
.count{ background:url(../images/travel/zan.jpg) no-repeat; float:left; width:48px; height:52px; text-align:center; line-height:50px; font-size:18px; display:inline-block;}
i.thumbup{ display:block;}
.suggest{ display:inline-block; float:left; margin:5px 0 0 5px;}
.suggest i{ background:url(../images/travel/thumbup.jpg) no-repeat; width:25px; height:25px; display:block;}
.commentfrom{ width:115px; float:left;}
.commentfrom .name{ width:100%; display:block; background:url(../images/travel/head.jpg) no-repeat left; clear:both; text-indent:22px; font-size:14px; margin:5px 0 2px;}
.commentfrom p{ color:#767676; margin:0;}
.content h4{ color:#562d82; font-size:14px; margin:2px 0;}
.content p{ color: #231d14; font-size:12px; margin:0; margin:4px 0 6px;}
.content .moreicon{ color:#562d82; text-decoration:underline; margin:5px 0;}
.more_right{ color:#562d82; float:right; display:block; overflow:hidden; margin:5px 0;}
.clast div:last-of-type{ border-bottom:none;}
.clast{ overflow:hidden;}
.hlists{  padding-top:5px; position:relative; overflow:hidden;}
.hlists .thumbnail{ float:left;}
.hlists h4{ color:#55337e; margin:5px 0;}.hlists h4 span{ color:#333; }
.hlists p{ margin:0; display: block;white-space: nowrap;overflow: hidden; margin-bottom:2px; text-overflow: ellipsis;}
.hlists p span{ color:#F00;}
.cutlines{border-bottom: 1px solid #cdcdcd;
display: block;
overflow: hidden;
float: left;
width: 100%;}
.clickmore{ margin:5px 0 5px 15px;}
.overflows h2.phone{ background:#e6e6e6; margin-top:15px; padding:0 0 0 15px;}
.p1{ padding:2px 15px 0; text-indent:2em; line-height:22px;}
.clearall{ color:#b1bbb9; position:absolute; top:10px; right:15px;}
.clearall i{ background:url(../images/travel/rubbish.jpg) no-repeat; width:13px; height:14px; float:left; margin-top:2px; margin-right:4px; }
.timelast{ width:100%; float:left; margin:0 0 0 4px;}
.timelast i{ background:url(../images/travel/clock.jpg) no-repeat; float:left; width:14px; height:14px; margin:2px 4px 0 0;}
.deletes{ background:url(../images/travel/delete.jpg) no-repeat; width:13px; height:13px; position:absolute; top:2pxpx; right:4px;}


/*IE*/
.container{+width: 940px;}
.filter{ +width:850px;}
.panelfull { +width:910px;}
.filter .inputs{ +width:75px;}
.navbar-left li, .navbar-right li{ float:left; padding: 1px 16px 3px 8px;}
.col-xs-4{ width:323px; +width:293px; +padding-right:0px;}
.col-xs-8{ width:647px; +width:617px;}
.col-sm-8{ width:647px; +width:617px;}
.col-xs-9{ +width:680px; +margin-right:10px;}
.col-xs-3{ +width:128px;}
.col-xs-9 .panel{ +width:100%;}
.col-xs-3.left-clear{ +width:230px;}
.col-md-8{ +width:625px; +float:left;}
.tabs_travel{ +overflow:hidden;}
.col-lg-6{ +width:50%; +float:left; +padding:0;}
.col-md-4{ +width:290px;+float:left;}
.col-md-8{ +width:630px;}
.col-md-4{ +width:280px;}
.col-md-9{ +width:680px; +margin-right:10px; +float:left;}
.col-md-3{ +width:128px; +float:left;}
.col-md-9 .panel{ +width:100%;}
.col-md-3.left-clear{ +width:230px;}
a.lists_a span.pull-right{ +margin-top:-20px;}
.navbar-collapse.collapse {
+display: block!important;
+height: auto!important;
+padding-bottom: 0;
+margin-top:15px;
+overflow: visible!important;
}

/*end*/
.tabs_travel  ul li a{ color:#333;}
.tabs_travel  ul li a:hover,.tabs_travel  ul li.active a{ text-decoration:none; color:#562d82}






.carousel-indicators{ bottom:0; left:0; width:100%; background:rgba(0,0,0,0.5); margin:0; padding:0; height:45px;}
.slides{}
.slides .carousel{ height:278px;}
.carousel-indicators{ padding:8px 0 0 30px;}
.carousel-indicators li{ float:left; width:30px; height:30px; text-indent:0; border-radius:0; border:1px solid #fff; margin:0 5px; padding:0;}
.carousel-indicators li img{ width:28px; height:28px;}
.carousel-indicators .active{ width:30px; height:30px; margin:0 5px; border-color:#edbb41;}
.carousel-control{ width:38px; height:45px; top:inherit; z-index:9999999; bottom:0;}
.carousel-control .glyphicon-chevron-left{ left:10px;}
.carousel-control.right{ right:56px;}
.carousel-control .glyphicon-chevron-right{ right:10px;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{ top:15px;}
.travelgallery{ width:42px; height:40px; position:absolute; right:15px; bottom:2px; z-index:9999;}
.travelgallery img{ width:42px;}


@media (max-width: 768px){
	.book{ float:none; margin:10px 0; text-align:inherit;}
	.slides{ width:100%; height:100%;}
	.slides .carousel{ height:100%;}
	.carousel-inner>.item>img, .carousel-inner>.item>a>img{ width:100%;}
}

@media (min-width: 768px) and (max-width: 992px) {
	.intro_hp{ width:260px;}
}













