@charset "utf-8";
/* CSS Document */
.container{ position:relative;}
.panel{ padding:10px; position:relative;}
.overflows{ padding:0;}
.col-md-8 .overflows{ padding:0;}
.row {margin-right: -10px;margin-left: -10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{ padding-left:10px; padding-right:10px;}
@media (min-width: 1200px){
.left-clear {padding-left: 0;}
.col-md-8{ width:70%;}
.col-md-4{ width:30%;}
}
.breadcrumb{ margin-bottom:10px;}

.panel{
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.27); 
	-o-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.27);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.27);
	border-color:#e5e5e5;
}
.head1{ border-bottom:1px solid #edbb41; margin:0 0 10px; padding-bottom:5px;}
.head1 h1{ color:#562d82; font-size:24px;}
.head1 h2{ padding:10px 5px 2px; margin:0;}
.head1 .nav-tabs{ float:right; margin-top:-24px; font-size:14px; color:#231d14; border:none;}
.head1 .nav-tabs li{ float:left; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; margin:0 3px; border:none;}
.head1 .nav-tabs li a{  padding:2px 5px; color:#333;  -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; border:none;}
.head1 .nav-tabs li.active a,.head1 .nav-tabs li a:hover,.head1 .nav-tabs li a:focus{ background:#562d82; color:#fff; border:none;}
.posts{ position:relative; overflow:hidden; padding:10px 0; border-bottom:1px solid #e6e6e6;}
.posts .thumbnail{ float:left; padding-left:0; padding-right:10px;}
.posts_cont h3{ color:#562d82; font-size:16px; margin:8px 0 5px;}
.posts_cont>div{ margin:5px 0;}
.posts_cont>div>span{ margin-right:15px;}
.posts_cont p{ margin:15px 0 0; line-height:22px;}

.views{ background:url(../images/travel/view.jpg) no-repeat; padding:10px 0 0; width:71px; height:50px; position:absolute; right:20px; top:10px; text-align:center;}
.views span{ display:block;}
.posts_cont>div.views>span{ margin:0;}
.paginations{ display:block;}
div.paginations{ width:auto; margin-left:-10px; margin-right:-10px;}
.dlists h4{ color:#562d82; font-size:12px;}
.dlists p{ overflow:hidden; margin:5px 0;}
.dlists p span{ margin-right:8px; float:left;}

.footer{}
.footer div.s{ border-top:3px solid #e11c2b; padding-top:10px; }
.footer div.s p{ display:inline-block;}
.footer div.s p a{ margin:0 7px;}
.footer div.s p span{ display:block; text-align:center;}


.gototopws {
background:url(../images/travel/uptop.jpg);
width: 35px;
margin-top: 6px;
height: 35px;
display: block;
}
.hlists {
padding-top: 5px;
position: relative;
overflow: hidden;
}
.hlists h4 {
margin: 5px 0;
}
.hlists p {
margin: 0;
display: block;
white-space: nowrap;
overflow: hidden;
margin-bottom: 2px;
text-overflow: ellipsis;
}
.hlists .thumbnail {
float: left;
}
.timelast {
width: 100%;
float: left;
margin: 0 0 0 4px;
}
.timelast i {
background: url(../images/travel/clock.jpg) no-repeat;
float: left;
width: 14px;
height: 14px;
margin: 2px 4px 0 0;
}
.more_right {
color: #562d82;
position: absolute;
top: 10px;
right: 15px;
}
.pintro{ padding:4px 2px;line-height:18px;}
.elastislide-list li a span{ display:block; text-align:center;}
.carousel-indicators{ bottom:0; left:0; width:100%; background:rgba(0,0,0,0.5); margin:0; padding:0; height:92px;}
.slides{ margin-bottom:10px;}
.carousel-indicators{ padding:8px 0 0 30px;}
.carousel-indicators li{ float:left; width:74px; height:74px; text-indent:0; border-radius:0; border:2px solid #fff; margin:0 5px; padding:0;}
.carousel-indicators .active{ width:74px; height:74px; margin:0 5px; border-color:#edbb41;}
.carousel-control{ width:38px; height:92px; top:inherit; z-index:9999999; bottom:0;}
.carousel-control .glyphicon-chevron-left{ left:10px;}
.carousel-control.right{ right:106px;}
.carousel-control .glyphicon-chevron-right{ right:10px;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{ top:40px;}
.travelgallery{ width:54px; height:49px; position:absolute; right:25px; bottom:20px; z-index:9999;}

.sidemenu {
margin:0 15px;
padding:15px 0;
border: 1px solid #e6e6e6;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-bottom: 15px;
}
.sidemenu ul{ margin-left:-15px;}
.sidemenu ul li{ background:url(../images/travel/btnbg.jpg) no-repeat; width:278px; height:49px; margin-bottom:4px;}
.sidemenu ul li.active{ background:url(../images/travel/btnafter.jpg) no-repeat; ;}
.sidemenu li a {
display: block;
border:none;
position: relative;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
text-indent: 90px;
text-align: left;
background:url(../images/travel/icon.png) no-repeat;
font-size: 16px;
padding: 12px;
text-shadow:none;
font-weight:normal;
}
.sidemenu li a:hover,.sidemenu li a:focus,.sidemenu li a:active, .sidemenu li a.active{ color:#3b3b3b; background:url(../images/travel/icon.png)  no-repeat; }
.sidemenu li.active a{ color:#fff;}
.sidemenu li.sl_1 a{ background-position: 0 0;}
.sidemenu .sl_1.active a{ background-position:0 -280px;}

.sidemenu li.sl_2 a{ background-position: 0 -57px;}
.sidemenu .sl_2.active a{ background-position:0 -337px;}

.sidemenu li.sl_3 a{ background-position: 0 -112px;}
.sidemenu .sl_3.active a{ background-position:0 -378px;}

.sidemenu li.sl_4 a{ background-position: 0 -167px;}
.sidemenu .sl_4.active a{ background-position:0 -434px;}

.sidemenu li.sl_5 a{ background-position: 0 -220px;}
.sidemenu .sl_5.active a{ background-position:0 -486px;}

.heads{ position:absolute; top:-6px; left:20px; z-index:9999; background:url(../images/travel/n.png) no-repeat; width:203px; height:51px;}
.heads h1{ font-size:18px; color:#fff; margin:14px 0 0 5px; text-align:center;}
.container .padding{ padding:15px 20px;}

.post_head .namex {
width: 100%;
display: block;
clear: both;
font-size: 12px;
text-align:center;
}
.post_head .namex span{ margin:0 5px;}

.namex span.name{background: url(../images/travel/head.jpg) no-repeat left; text-indent:22px; display:inline-block;}
.post_head h1{ text-align:center; font-weight:normal; margin:10px 0; color:#562d82; font-size:24px;}

.post_head{ border-bottom:1px solid #e6e6e6; padding-bottom:10px;}

.conts{ margin:15px 0 0;  border-bottom:1px solid #e6e6e6;}
.conts p{ text-indent:2em; line-height:22px; padding:0 15px;}
.conts div.thumbnail p{ text-align:center;}
.prenext{ display:block; overflow:hidden; margin:10px 0 20px; padding:0 15px;}
.post_head .namey span{ color:#767676; margin:0 20px;}

.panelx{ border-radius:0;}
.posts .comments p{ margin:5px 0 8px;}
.posts .comments .pull-right{ margin-right:15px; color:#767676;}
.posts .comments .pull-right a{ text-decoration:underline;}
.cutline{ border-bottom:1px solid #e6e6e6;}
.panelx .posts{ border:none;}
.panelx .panel-heading{ background:#e6e6e6; border-top:4px solid #edbb41; padding:5px 28px; color:#562d82; font-size:16px;}
.panelx .panel-heading span{ font-size:12px; color:#333; line-height:24px;}

.btn-purpright {
color: #fff;
background-color: #562d82;
text-shadow: none;
font-weight: normal;
border-color: #562d82;
padding:5px 15px;
margin: 12px 0 0;
font-size: 14px;
float:right;
margin-right:5%;
}
.btn-purpright:hover{ color:#fff; }
.commentsin{ width:95%; margin:0 auto; height:205px;  border:1px solid #b1bbb9;}
.commentsin textarea{ width:100%; border:none; height:149px;}
.commentsin .biaoqin{ background:#f0f0f0;  border-bottom:1px solid #b1bbb9; height:30px;}
.commentsin .zishu{ border-top:1px solid #e6e6e6; height:26px; text-align:right; padding-right:15px; color:#767676; line-height:26px;}
.lists_post{ overflow:hidden; padding:0 0 10px 5px;}
.lists_post li{ margin:4px 0; background:url(../images/travel/dott.png) no-repeat left center; width:50%; float:left;}
.lists_post li a{ padding:0 10px; display:block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; color:#312c23;}
.pop{ height:376px;}
.popwindow{  padding:10px 10px 0; margin:0 -10px; position:relative;}
.popwindow .clearborder{ border-bottom:none;}
.popwindow h4 a{ color:#613a8a; font-size:14px; font-weight:bold;}
.popwindow h4 span{ float:right; color:#613a8a; margin-right:10px; font-weight:bold; }
.popwindow  div{ margin-top:4px; border-bottom:1px solid #b1bbb9; padding-bottom:10px;}
.popwindow  div a{ font-size:12px; color:#231d14; margin-right:10px; }

.popwindow .pops{ position:absolute; display:none; left:193px; background:rgba(255,255,255,0.8) !important; filter:Alpha(opacity=80); background:#fff; width:580px; padding:20px; top:-5px; z-index:9999; border:1px solid #C5C5C5; border-left:none; border-bottom:1px solid #c5c5c5;}
.popwindow div.pops a{ position:relative; display:inline-block;}

.slidedown .carousel-indicators{ top:0; right:0; bottom:inherit; left:inherit; width:142px; background:none; margin:0; padding:0; height:375px;}
.slidedown .carousel-indicators{ padding:0;}
.slidedown .carousel-indicators li{ float:left; text-align:right;  width:152px; height:91px; text-indent:0; border-radius:0; border:none; margin:0 0 4px; padding:2px 4px 2px 2px; }
.slidedown .carousel-indicators .active{ width:152px; text-align:right; height:91px; margin:0 0 4px; border:none; background:url(../images/travel/images/ab.png) no-repeat top left; padding:2px 4px 2px 2px;}
.slidedown .carousel-control{ width:38px; height:92px; top:inherit; z-index:9999999; bottom:0;}
.slidedown .travelgallery{ width:54px; height:49px; position:absolute; right:25px; bottom:20px; z-index:9999;}

.col-3{ width:215px; float:left; padding-left:10px; padding-right:10px; }
.col-9{ width:736px; float:left; padding-right:10px;}
.head1 span.more_right {color: #562d82; font-size:12px; right:15px; top:20px; margin-top:0;}

.w280{ width:280px; display:inline-block; float:left;}.w318{ width:318px; margin-left:15px; display:inline-block; float:left;}.w292{ margin-left:15px; width:290px; display:inline-block; float:left;}
.w280 h3{ background:#e6e6e6; font-size:12px; padding:8px 0 8px 10px;}
.ulhalf li{ width:50%; float:left;}
.ulhalf li .glyphicon-play {
color: rgba(255,255,255,0);
background: url(../images/Cityicon.gif) no-repeat left center;
margin-right: 2px;
}
.ulhalf li .glyphicon-play {
width: 10px;
display: block;
float: left;
margin-top: 2px;
}
.ulhalf{ padding:5px 10px; border:1px solid #e6e6e6; overflow:hidden;}
.ulhalf li{ margin:2px 0;}
.ulhalf li a{ font-size:12px; color:#333;}
.w318 h2{ text-align:center; margin:0 0 10px;}
.w318>p{ text-align:center}
.w318>p span{ color:#999999; margin:0 4px;}
.w318 ul{ border-top:1px solid #999; padding-left:5px; padding-right:8px;}
.w318 ul li{ background:url(../images/travel/dott.png) no-repeat left center; padding-left:12px; margin:6px 0;}
.w318 ul li a{ color:#333;}
.w318 ul li span{ color:#a6a6a6; float:right;}
.w292 h3{ background:#e6e6e6; font-size:12px; padding:8px 0 8px 10px;}
.w292 ul li{ border-bottom:1px solid #dfdfdf; margin:7px 0 0; overflow:hidden;}
.w292 ul li:last-child{ border-bottom:none;}
.w292 ul li a{ color:#333; margin-left:4px;  display:block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis}
.showall{ float:left; padding-bottom:4px;}
.showall .thumbnail{ float:left; border:1px solid #cccacb; margin:0 5px;}
.w292 ul li .showall{ display:none;}
.w292 ul li .showall h3{ background:none;}
.w292 ul li .showall h3 a{ color:#562d82; font-size:14px;}
.w292 ul li.active .showall{ display:block;}
.w292 ul li.active>a{ display:none;}
.red{ color:#F00;}
.w292 span{ float:left;}
.seasons{ width:50%; float:left;}

.seasons .thumbnail{ float:left; margin-right:15px;}
.seasons ul{ padding:5px 15px 5px 0;}
.seasons ul li{ margin:7px 0}
.seasons ul li span{ float:right; color:#999; float:right;}

.w202{ float:left; width:202px; border:1px solid #e6e6e6; margin-right:10px; height:336px; padding:15px;}
.w202 .caption h4{ color:#562d82; font-size:14px; margin:10px 0 2px;}
.w202 .caption h4 span{ color:#231d14; font-size:12px;}
.w202 .caption p{ line-height:22px; margin:5px 0;}
.prise{ position:relative;}
.prisebtn{ background:url(../images/travel/images/bpp.png) no-repeat; width:130px; height:45px; margin-left:-24px; text-align:center; line-height:45px;}
.prisebtn span{ color:#F00; font-size:20px;}
.prise>span{ position:absolute; right:0; text-decoration:line-through; top:15px;}
.btn-center,.btn-center:hover{ display:block; background:url(../images/travel/images/order.png) no-repeat; width:94px; height:35px; text-indent:-999px; overflow:hidden; margin:10px auto 0;}
.lefts{ width:280px; height:336px; float:left; border:1px solid #ececec;}
.tab-pane div.w292{ width:251px;}

.lefts .nav {
background: #fff;
color: #666;
border-bottom:none;
background:url(../images/travel/images/linebg.png) repeat-x;
height:28px;
}
.lefts .nav .hs{ background:url(../images/travel/images/btns.png) no-repeat; width:116px; height:24px; color:#562d82; line-height:24px; margin:4px 0 0; text-indent:10px;}
.lefts .nav-tabs>li>a{ color:#231d14; padding:5px 15px 3px; border-bottom:3px solid #efc765; border:none;}
.lefts .nav-tabs>li>a:hover,.lefts .nav-tabs>li.active>a{ border:none; color:#562d82; background:none; border-bottom:3px solid #562d82;}

/*IE*/
.container{+width: 940px;}
.filter{ +width:850px;}
.panelfull { +width:910px;}
.filter .inputs{ +width:75px;}
.navbar-left li, .navbar-right li{ float:left; padding: 1px 16px 3px 8px;}
.col-xs-4{ width:323px; +width:293px; +padding-right:0px;}
.col-xs-8{ width:647px; +width:617px;}
.col-sm-8{ width:647px; +width:617px;}
.col-xs-9{ +width:680px; +margin-right:10px;}
.col-xs-3{ +width:128px;}
.col-xs-9 .panel{ +width:100%;}
.col-xs-3.left-clear{ +width:230px;}
.col-md-8{ +width:625px; +float:left;}
.tabs_travel{ +overflow:hidden;}
.col-lg-6{ +width:50%; +float:left; +padding:0;}
.col-md-4{ +width:290px;+float:left;}
.col-md-8{ +width:650px;}
.col-md-4{ +width:270px;}
.posts .thumbnail{ +width:188px; +float:left;}
.hlists .thumbnail{ +width:66px;  +float:left;}
.dlists p span{ +display:block;}
a.lists_a span.pull-right{ +margin-top:-20px;}
.navbar-collapse.collapse {
+display: block!important;
+height: auto!important;
+padding-bottom: 0;
+margin-top:15px;
+overflow: visible!important;
}
.col-9{ +padding:0; +width:706px; +position:relative;}
.slidedown ol.carousel-indicators{ +position:absolute; +left:580px;  +float:right;}
.slidedown .carousel-indicators li{ +float:right; +background:none;}

.showall .thumbnail{ +width:81px;}
.panel{+overflow:hidden;}
.seasons .thumbnail{ +width:217px;}
.w202{ +width:169px;}
.elastislide-horizontal ul li{ +width:141px; +float:left;}
/*end*/


.seasons ul li span a{ color:#999;}
@media (min-width: 768px) and (max-width: 992px) {
.col-3,.col-9{ width:100%; padding-left:10px;}
.popwindow .pops{ position:relative; left:auto; top:auto; width:100%; border-top:none; background:#fff; margin-top:-5px; border-right:none; padding:10px 0 15px;}
.pop{ height:auto;}
.dimensionscode{ display:none;}
.slidedown .carousel-indicators{ display:none;}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{ width:100%;}
.w280{ width:49%;}
.w318{ width:49%; margin-left:2%; padding-top:10px;}
.w280 div>img{ width:100%;}
.w292{ width:100%; padding-top:15px; margin-left:0;}
.seasons .thumbnail{ float:none;}
.seasons .thumbnail img{ width:100%;}
.w202{ width:30%; margin:0 1.5%;}
.lefts{ margin-top:15px; width:100%;}
.tab-pane div.w292{ width:100%; padding-left:10px; padding-right:10px;}
.sidemenu ul li{ margin:0 auto;}
.sidemenu{ border:none;}
#dituContent{ width:100% !important;}
}

@media (max-width: 768px){
.posts .thumbnail{ float:none;}
.panelx .posts .thumbnail{ float:left;}
.col-3,.col-9{ width:100%; padding-left:10px;}
.popwindow .pops{ position:relative; left:auto; top:auto; width:100%; border-top:none; background:#fff; margin-top:-5px; border-right:none; padding:10px 0 15px;}
.pop{ height:auto;}
.dimensionscode{ display:none;}
.dimensionscode{ display:none;}
.slidedown .carousel-indicators{ display:none;}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{ width:100%;}
.w280{ width:100%;}
.w318{ width:100%; margin:0; padding-top:10px;}
.w280 div>img{ width:100%;}
.w292{ width:100%; padding-top:15px; margin-left:0;}
.seasons .thumbnail{ float:none;}
.seasons .thumbnail img{ width:100%;}
.w202{ width:48%; margin:1%;}
.lefts{ margin-top:15px; width:100%;}
.tab-pane div.w292{ width:100%; padding-left:10px; padding-right:10px;}
.sidemenu ul li{ margin:0 auto;}
.sidemenu{ border:none;}
#dituContent{ width:100% !important;}
.prenext span{ display:block; width:100%;}
.prenext .pull-right{ float:left !important;}
.footer div.s{ overflow:hidden; position:relative; padding-bottom:60px;}
.footer div.s img{ position:absolute; bottom:0; right:0;}
.footer div.s>img:first-child{ left:0; right:auto;}

}

@media (max-width:460px){
.posts .thumbnail{ padding-bottom:70px;}
.w202{ width:100%; margin:10px 0 0;}
.views{ top:135px; right:50%; margin-right:-30px !important;}
.carousel-indicators{ display:none;}
.travelgallery{ display:none;}
.footicon>a{ width:50%; float:left;}
}















